body{
    background-color:aqua
}
#id1{
    color:rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color:green;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}